<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:name="android.support.multidex.MultiDexApplication"
    package="com.mabe.productions.pr_ipulsus_running">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_appicon_rectangle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.mabe.productions.pr_ipulsus_running.LegalInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
        </activity>

        <activity android:name="com.mabe.productions.pr_ipulsus_running.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.MainScreenActivity"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/NoActionBar" />

        <service
            android:name="com.mabe.productions.pr_ipulsus_running.bluetooth.BluetoothGattService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.mabe.productions.pr_ipulsus_running.GoogleMapService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialPage"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialHeight"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialWeight"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialGender"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialInfoBirthday"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialActivityIndex"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialDaySelection"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.initialInfo.IntroInitialMaxDuration"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvZJ_zkfNX-Gg8Ep-JgpRmde7n0I54QoM" />

        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.FrequentlyAskedActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.AdvancedWorkoutHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.mabe.productions.pr_ipulsus_running.AdvancedMeasurementHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity android:name="com.mabe.productions.pr_ipulsus_running.FingerHRV.HeartRateMonitor" />
        <activity android:name="com.mabe.productions.pr_ipulsus_running.UserOptionsPanelActivity"
            android:theme="@style/NoActionBar"
            android:noHistory="true"
            android:screenOrientation="portrait"
            >


        </activity>
    </application>

</manifest>